* {
  margin: 0;
  padding: 0;
}

.navBar {
  width: 100%;
  height: 100px;
  background: #0880D6;
}

.navBar h1 {
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  line-height: 30px;
  padding: 30px;
}
.mainContent {
  display: flex;
  width: 90%;
  /* height: 1500px; */
  position: absolute;
  left: 5%;
  margin-top: 20px;
}

.form {
  width: 41%;
  height: 953px;
  border: 1px solid #C4C4C4;
}

.contactSide, .contactContainer {
  width: 58%;
  margin-left: 20px;
  /* border-left: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4; */
}

.form h2, .contactSide h2 {
  width: 100%;
  background-color: #0880D6;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 11px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

.form-group input, select {
background: #FFFFFF;
border: 1px solid #C4C4C4;
width: 100%;
height: 45px;
font-size: 18px;
padding-left: 10px;
}

.form-group select{
  color: black;
  font-size: 18px;
}

.form-group option{
  font-size: 18;
  color: #0880D6;
}

.form-group label {
  font-size: 18px;
  color: #0880D6;
}

.form-group textarea {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  width: 100%;
  height: 115px;
}

.form-actions{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

.dropzone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
  border: 1px dashed #C4C4C4;
  width: 90%;
  height: 115px;
  margin-left: 5%;
  text-align: center;
}

.dropzone p {
  width: 144px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: auto;
  color: #555555;
}

/* Le responsive  */
/* Médias queries */
/* Ajoutez ceci en haut de votre fichier CSS */
@media only screen and (max-width: 480px) {
  /* Ajustez la taille et la mise en forme de l'en-tête */
  .header {
    width: auto;
    height: 50px;
  }
  .header h1 {
    font-size: 16px;
    line-height: 24px;
    left: 20px;
  }

  /* Ajustez la disposition et la taille des éléments principaux */
  .main {
    flex-direction: column;
    width: auto;
    height: auto;
    top: 50px;
    left: 20px;
    right: 20px;
  }

  /* Ajustez la taille et la mise en forme de la partie gauche */
  .partie_gauche {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
  .partie_gauche h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .label {
    font-size: 12px;
    line-height: 18px;
  }
  .input {
    height: 40px;
    font-size: 12px;
    line-height: 18px;
    padding: 12px;
  }
  .textarea {
    width: auto;
    height: auto;
  }
  .textarea label {
    font-size: 12px;
    line-height: 18px;
  }
  .textarea textarea {
    height: 160px;
    font-size: 12px;
    line-height: 18px;
    padding: 12px;
  }
  #image-container {
    height: 160px;
  }
  #image-container label {
    font-size: 12px;
    line-height: 18px;
  }
  #image-container input {
    width: 100%;
    height: 40px;
  }
  #drop-zone {
    font-size: 12px;
    line-height: 18px;
  }

  /* Ajustez la taille et la mise en forme de la partie droite */
  .partie_droite {
    width: auto;
    height: auto;
  }
  .partie_droite h2 {
    font-size: 16px;
    line-height: 24px;
  }
}
