* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  /* scroll-behavior: smooth; */
}

.navBar {
  width: 100%;
  height: 100px;
  background: #0880D6;
}

.navBar h1 {
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 1.6em;
  line-height: 30px;
  padding: 30px;
}
.mainContent {
  display: flex;
  width: 90%;
  /* height: 1500px; */
  position: absolute;
  left: 5%;
  margin-top: 20px;
}

.form {
  width: 41%;
  height: 953px;
  border: 1px solid #C4C4C4;
}

.contactSide, .contactContainer {
  width: 58%;
  margin-left: 20px;
  /* border-left: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4; */
}

.form h2, .contactSide h2 {
  width: 100%;
  background-color: #0880D6;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 11px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

.form-group input, select {
background: #FFFFFF;
border: 1px solid #C4C4C4;
width: 100%;
height: 45px;
font-size: 18px;
padding-left: 10px;
}

.form-group select{
  color: black;
  font-size: 16px;
}

.form-group option{
  font-size: 16px;
  color: #0880D6;
}

.form-group label {
  font-size: 16px;
  color: #0880D6;
}

.form-group textarea {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  width: 100%;
  height: 115px;
}

.form-actions{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
}

.dropzone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
  border: 1px dashed #C4C4C4;
  width: 90%;
  height: 115px;
  margin-left: 5%;
  text-align: center;
}

.dropzone p {
  width: 144px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: auto;
  color: #555555;
}

.form-actions .btn {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
}

.btn-primary {
  background: #0880D6;
}

.btn-secondary {
  background: red;
}

.contact {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid #C4C4C4;
  /* gap: 45px; */
  padding: 20px;
  font-weight: 900;
  box-sizing: border-box;
  word-wrap: break-word;
}

.contactdesc {
  width: 60%;
}
.contactimg {
  width: 30%;
}

.contact p {
  padding: 4px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  width: 100%;
}

.images {
  width: 40%; 
}

.images img {
  width: 40%;
  border-radius: 50%;
}

div .groupe1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  font-weight: 900;
}

@media screen and (max-width: 950px) {
  .mainContent {
      display: flex;
      flex-direction: column;
  }

  .form, .contactSide {
      width: 98%;
  }

  .contactSide {
      margin-top: 20px;
      margin-left: 0;
  }

    .navBar h1 {
      font-size: 23px;
  }

  .form h2, .contactSide h2 {
      font-size: 18px;
  }

  .form-actions {
      align-items: center;
      justify-content: center;
  }

  input, label, textare, option {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .navBar h1 {
      color: white;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 900;
      font-size: 1.5em;
      line-height: 30px;
      padding: 30px;
      text-align: center;
  }
}